h1 {font-size: 1.5rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.3rem;}
h4 {font-size: 1.1rem;}
.router-link-active {color: var(--bs-warning) !important}

@media (max-width:767px) {
    nav > div.min-vh-100 {min-height: auto !important;}
    html {font-size: 14px;}
}